Repository halotukozak/hackatIOn2025, pull requests merged in 2025-04, with the labels that each got.

#29 feat: add OpenAPI documentation and update routing for Swagger UI
  .github/workflows/rest-models.yml
  backend/src/main/kotlin/edu/agh/roomie/rest/Routing.kt
  backend/src/main/resources/openapi/documentation.yaml
Labels: backend, frontend

#25 13 authenticaiton
  backend/build.gradle.kts
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/src/main/kotlin/edu/agh/roomie/Application.kt
  backend/src/main/kotlin/edu/agh/roomie/Databases.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/Dependencies.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/HTTP.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/Routing.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureAuthRouting.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureInitialRouting.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Auth.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Departament.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Hobby.kt
  backend/src/main/kotlin/edu/agh/roomie/scripts/exportRestModels.kt
  backend/src/main/kotlin/edu/agh/roomie/service/AuthService.kt
  backend/src/main/kotlin/edu/agh/roomie/service/UserService.kt
  backend/src/test/kotlin/ApplicationTest.kt
  frontend/src/rest/model.ts
Labels: backend

#33 run-configuration
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/roomie.iml
  .idea/vcs.xml
  .idea/workspace.xml
  .run/EngineMain.run.xml
Labels: enhancement, backend

#24 feat: add initial routing and models for departments and hobbies
  backend/src/main/kotlin/edu/agh/roomie/rest/HTTP.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/Routing.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/Security.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureInitialRouting.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Departament.kt
  backend/src/test/kotlin/ApplicationTest.kt
Labels: backend

#36 Fix world
  .idea/workspace.xml
  backend/src/main/kotlin/edu/agh/roomie/Application.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureInitialRouting.kt
Labels: backend

#39 34 user registration followup
  .github/workflows/rest-models.yml
  .idea/workspace.xml
  .run/EngineMain.run.xml
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureInitialRouting.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Auth.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Faculty.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Info.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/User.kt
  backend/src/main/kotlin/edu/agh/roomie/scripts/exportRestModels.kt
  backend/src/main/kotlin/edu/agh/roomie/service/InfoService.kt
  backend/src/main/kotlin/edu/agh/roomie/service/UserService.kt
  backend/src/main/resources/openapi/documentation.yaml
  frontend/src/rest/model.ts
Labels: backend

#40 Fixing Navbar
  frontend/src/DiscoverPage.tsx
  frontend/src/ListView.tsx
  frontend/src/MatchesPage.tsx
  frontend/src/Navbar.tsx
  frontend/src/ProfilePage.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Labels: frontend

#42 Implemented match, and matched notification endpoints
  backend/src/main/kotlin/edu/agh/roomie/Application.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/Dependencies.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/Routing.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureMatchRouting.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Match.kt
  backend/src/main/kotlin/edu/agh/roomie/service/MatchService.kt
Labels: backend

#49 Get user endpoint
  backend/build.gradle.kts
  backend/src/main/kotlin/edu/agh/roomie/Application.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/Routing.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureUserRouting.kt
  backend/src/main/kotlin/edu/agh/roomie/service/FakeUserGenerator.kt
  backend/src/main/kotlin/edu/agh/roomie/service/UserService.kt
Labels: backend

#64 Backend deployment
  backend/Dockerfile
  backend/src/main/kotlin/edu/agh/roomie/rest/Routing.kt
  render.yaml
Labels: backend

#77 Adjusted info and user preferences format
  backend/src/main/kotlin/edu/agh/roomie/Databases.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/endpoints/configureMatchRouting.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Info.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Match.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Preferences.kt
  backend/src/main/kotlin/edu/agh/roomie/rest/model/User.kt
  backend/src/main/kotlin/edu/agh/roomie/service/FakeUserGenerator.kt
  backend/src/main/kotlin/edu/agh/roomie/service/InfoService.kt
  backend/src/main/kotlin/edu/agh/roomie/service/PreferencesService.kt
  backend/src/main/kotlin/edu/agh/roomie/service/UserService.kt
  backend/src/test/kotlin/edu/agh/roomie/service/UserServiceTest.kt
  frontend/src/HomePage.tsx
  frontend/src/RoommatePreferences/RoommatePreferencesPage.tsx
  frontend/src/RoommatePreferences/StepOne.tsx
  frontend/src/RoommatePreferences/StepTwo.tsx
  frontend/src/apis/preferences.ts
  frontend/src/apis/users.ts
  frontend/src/main.tsx
  frontend/src/preferences/PreferencesPage.tsx
  frontend/src/preferences/StepFive.tsx
  frontend/src/preferences/StepFour.tsx
  frontend/src/preferences/StepOne.tsx
  frontend/src/preferences/StepTwo.tsx
  frontend/src/rest/model.ts
Labels: backend

#80 Nullable Relationship status
  backend/src/main/kotlin/edu/agh/roomie/rest/model/Info.kt
  backend/src/main/kotlin/edu/agh/roomie/service/FakeUserGenerator.kt
  backend/src/main/kotlin/edu/agh/roomie/service/InfoService.kt
  backend/src/main/resources/openapi/documentation.yaml
  frontend/src/apis/preferences.ts
  frontend/src/apis/users.ts
  frontend/src/preferences/StepFive.tsx
  frontend/src/preferences/StepFour.tsx
  frontend/src/preferences/StepOne.tsx
  frontend/src/preferences/StepThree.tsx
  frontend/src/preferences/StepTwo.tsx
  frontend/src/rest/model.ts
Labels: backend

#100 Polishing
  backend/Dockerfile
  backend/build.gradle.kts
  backend/gradle.properties
  backend/src/main/kotlin/edu/agh/roomie/Databases.kt
  backend/src/main/kotlin/edu/agh/roomie/service/MatchService.kt
  backend/src/main/kotlin/edu/agh/roomie/service/UserService.kt
  backend/src/test/kotlin/edu/agh/roomie/TestUtils.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/AuthRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/BaseRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/InitialRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/MatchRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/TestUtils.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/UserAdditionalRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/UserDiscoverRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/UserMatchesRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/UserRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/rest/endpoints/UsersRoutingTest.kt
  backend/src/test/kotlin/edu/agh/roomie/service/AuthServiceTest.kt
  backend/src/test/kotlin/edu/agh/roomie/service/FakeUserGeneratorTest.kt
  backend/src/test/kotlin/edu/agh/roomie/service/InfoServiceTest.kt
  backend/src/test/kotlin/edu/agh/roomie/service/MatchServiceTest.kt
  backend/src/test/kotlin/edu/agh/roomie/service/PreferencesServiceTest.kt
  backend/src/test/kotlin/edu/agh/roomie/service/UserServiceTest.kt
  frontend/src/apis/base.ts
  render.yaml
Labels: backend
